* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background: #EEEEEE;
}

.Navbar {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background: #1F6F5F;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.Navbar img {
    height: 80px;
    margin-left: 30px;
    width: auto;
}

.Links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    gap: 40px;

}

.Links a {
    text-decoration: none;
    color: #EEEEEE;
    font-size: 18px;
}
.drop-link {
    text-decoration: none;
    color: #EEEEEE;
    font-size: 18px;
}
.drop-link:hover {
    transition: 0.5s;
    transform: scale(1.0);
    color: red;
    cursor: pointer;

}
.Links a:hover {
    transition: 0.5s;
    transform: scale(1.0);
    color: red;
}

.hero {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.hero h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    color: black;
    font-size: 60px;
}

.hero h2 {
    position: absolute;
    top: 18%;
    left: 50%;
    color: #9e0a0a;
    font-size: 60px;
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}
/* Button Styling */
.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    height: 100%;
    width: 5%;
    transform: translateY(-50%);
    background: transparent;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 10;
    font-size: 20px;
}
.prev-btn i, .next-btn i {
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    transition: 0.2s;
}
.prev-btn:hover i, .next-btn:hover i {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn { left: 10px; }
.next-btn { right: 10px; }



.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
}


.img-container {
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin-bottom: 10px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.old-price {
    text-decoration: line-through;
    color: #888;
    margin-right: 10px;
}

.new-price {
    color: #e44d26;
    font-weight: bold;
}
.product-card {
    width: 280px;
    border: 1px solid #EEEEEE;
    padding: 15px;
    text-align: center;
    background: #EEEEEE;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    margin: 10px;
}
.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-color: #EEEEEE;
}


.img-container {
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
}

.img-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.product-card:hover .img-container img {
    transform: scale(1.05);
}

.footer {
    display: flex;
    background-color: #1F6F5F;
    color: #EEEEEE;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px;
    flex-wrap: wrap;
}

.footer img {
    width: 120px;
    height: auto;
}

.links h3 {
    margin-bottom: 10px;
}

.links a {
    list-style: none;
    padding: 0;
    display: flex;
}

.links a {
    margin-bottom: 8px;
    color: #EEEEEE;
    text-decoration: none;
}

.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links a:hover {
    color: #EEEEEE;
    cursor: pointer;
}

.social-icons {
    margin-top: 20px;
}

.social-icons i {
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #EEEEEE;
    transition: 0.3s;
}

.social-icons i:hover {
    color: #EEEEEE;
}

.social-icons a {
    text-decoration: none;
}

.about {
    padding: 50px;
}

.contactus {
    padding: 50px;
    text-align: center;
    line-height: 2.6;

}

.form {
    padding: 50px;
}

.form input {
    margin-bottom: 20px;
    padding: 10px;
    width: 40%;
    height: 40px;
    border-radius: 1px;
    border-color: #EEEEEE;
    border-style: solid;

}

.form p {
    font-size: 20px;
    font-weight: bold;
}

.form textarea {
    padding: 20px;
    width: 40%;
    height: 200px;
    border-radius: 5px;
}

.form button {
    margin-top: 20px;
    padding: 10px;
    width: 20%;
    height: 40px;
    border-radius: 1px;
    color: #EEEEEE;
    border-style: solid;
    background-color: #2FA084;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

.form button:hover {
    background-color: #EEEEEE;
    color: #2FA084;
    cursor: pointer;

}

.text {
    text-align: center;
}

.star {
    color: red;
    font-size: 15px;
}

.sale-new h1 {
    color: #1F6F5F;
    font-weight: bold;
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
}

.new-arrival {
    color: #1F6F5F;
    font-weight: bold;
    font-size: 25px;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.Links {
    display: flex;
    gap: 20px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #2FA084;
    padding: 10px;
    min-width: 180px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    display: block;
    color: #EEEEEE;
    text-decoration: none;
    padding: 5px;
}

.dropdown-menu a:hover {
    background: #6FCF97;
}

.view-more {
    text-align: center;
    margin: 20px 0;
}

.view-more button {
    padding: 10px 20px;
    font-size: 16px;
    width: auto;
    display: inline-block;
    cursor: pointer;
    background: #1F6F5F;
    color: #EEEEEE;
    border: none;
    border-radius: 4px;
}
.view-more button:hover {
    background: #EEEEEE;
    color: #1F6F5F;
    cursor: pointer;
    outline: 1px solid black;
}

.drop-link i {
    font-size: 15px;
    margin-left: 5px;
}
/* Product Page */
.detail-wrapper {
    display: flex;
    padding: 50px;
    gap: 50px;
    max-width: 1200px;
    margin: auto;
}

.image-box {
    flex: 1;
}

.image-box img {
    width: auto;
    border-radius: 10px;
}

.info-box {
    flex: 1;
}

.info-box p.category {
    color: #888;
}


.price {
    font-size: 24px;
    margin: 20px 0;
}

.old-price {
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
}

.new-price {
    color: red;
    font-weight: bold;
}

.btn-add-cart {
    margin-top: 30px;
    padding: 15px 40px;
    background: #2FA084;
    color: #EEEEEE;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btn-add-cart:hover {
    color: #2FA084;
    background: #EEEEEE;
    border: 1px solid black;
}